<nav>
    <ul class="nav">
        <div class="row">
            <li> <a href="/" class="">HOME</a> </li>
            <li><a href="/inventory" class="">All Items</a></li>
            <li><a href="/orders" class="">Orders Placed</a></li>
               
            
            <% if (currentUser) { %>
                
                <li><a href="/inventory/new"> New Item </button></a> </li>
                <li><form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log out"></li>
                </form></li>
                <li><h4>Welcome <%= currentUser.username %></h4></li>
            
        <% } else { %>
            <li><a href="/sessions/new">Log In</a></li>
            <li><a href="/users/new">Sign Up</a></li>
        <% } %>          
                
         </div>
    </ul>
    
</nav>