<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<body>
    <div class="main_home">
		
        <div id="main_home">
        
        	<div class="main_top">
            	<h1>Kaushik's Inventory Management App</h1>

            	<img src="css/assets/inv.jpg" width='400'>
            </div>
            
           	<div class="main_body">

                
                <p> Thank you for visiting my inventory management app </p>
                
                <p> This is a very simple application designed to make regular inventory managment sessions easy. Every retail outlet has to take inventory on a very regular basis. This process typically is dreary and tedious process. This application is designed to make that process easier.</p>

                <p> This application allows the user to quickly view physical inventory, then click on the items to update quantities. If amounts are running low they can add it to an order sheet to be printed later on. The 'order' page keeps a track of historical orders including who placed them </p>

                <p> Thank you for using this app and I hope it makes your life easier. </p>
            </div>
            
           	<div class="main_bottom"></div>
            
        </div>
        
        
        

        

</body>
</html>