<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<body>

    <h1>New Item Page</h1>

    <form action="/inventory" method="POST">
    	<div class="row mb-3"> Name: 
    		<div class="col-sm-10"><input type="text" name="item"  /> 
    		</div>
    	</div>

        <div class="row mb-3"> Category: 
        	<div class="col-sm-10"> <input type="text" name="category" /> 
        	</div>
        </div>
        <div class="row mb-3">Unit Size: 
        	<div class="col-sm-10"><input type="text" name="unit_size" />
        	</div>
        </div> 

        <div class="row mb-3">Amount in Stock: 
        	<div class="col-sm-10"><input type="text" name="in_stock_qty" />
        	</div>
        </div> 

        <div class="row mb-3">Price: 
        	<div class="col-sm-10"><input type="number" name="price" />
       		</div>
       	</div>


        <input type="submit" value="Create Product" />
    </form>


</body>
</html>

