<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<body>

    
<div class="form_div">
<h1>New Item Page</h1>
    <form action="/inventory" method="POST">
    	<div class="form-group row">
    			<label for="inputEmail3" class="col-sm-5 col-form-label"> Name: </label>
    				<div class="col-sm-7">
    					<input type="text" class="form control" id="inputEmail3" name="item"  /> 
    				</div>
    	

		        <label for="inputEmail3" class="col-sm-5 col-form-label"> Category: </label>
		        	<div class="col-sm-7"> 
		        		<input type="text" class="form-control" id="inputEmail3" name="category" /> 
		        	</div>
		        
        		<label for="inputEmail3" class="col-sm-5 col-form-label"> Unit Size: </label>	 
        			<div class="col-sm-7">
        				<input type="text" class="form-control" id="inputEmail3" name="unit_size" />
        			</div>
        

        		<label for="inputEmail3" class="col-sm-5 col-form-label"> Amount in Stock: </label> 
        			<div class="col-sm-7">
        				<input type="text" class="form-control" id="inputEmail3" name="in_stock_qty" />
        			</div>
        
        		<label for="inputEmail3" class="col-sm-5 col-form-label"> Price: </label>
        			<div class="col-sm-7">
        				<input type="number" class="form-control" id="inputEmail3" name="price" /> </br>
       				</div>

       	


        <input type="submit" class="btn btn-success" value="Create Product" />

        </div>
    </form>
    </div>


</body>
</html>

