body {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

table{
  font-family: papyrus;
}

.index {
  margin-top: 10px;
  margin-left: 10px;
  font-family: copperplate;
  text-align: center;

}

.form_div{
  width: 400px;
  margin-left: 20px;
  font-family: papyrus

}



.container-fluid{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  background-color: #49F477;
  font-family: impact;

}

.col-2{
  flex-grow: 1;
  
}

nav{
  padding: 0 5px;
}

main{
  padding: 0 10px;
  flex: 1 0 auto;
}

footer{
  display: flex;
  justify-content: center;
}
a{
  font-size: 20px;
}