body {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav{
  padding: 0 5px;
}

main{
  padding: 0 10px;
  flex: 1 0 auto;
}

footer{
  display: flex;
  justify-content: center;
}
a{
  font-size: 20px;
}