body {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

table{
  font-family: papyrus;
}

.index {
  margin-top: 10px;
  margin-left: 10px;
  font-family: copperplate;
  text-align: center;

}

.form_div, .div_show{
  width: 400px;
  margin-left: 20px;
  font-family: papyrus

}

.main_top, .main_body{
  margin-top: 10px;
  width: 800px;
  margin-left: 20px;
  font-family: papyrus

}

.main_top{
  text-align: center;
}


.main_home, .login_page{

  width: 900px;
  font-family: papyrus;

  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;

}





.container-fluid{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  background-color: #49F477;
  font-family: impact;

}

.col-2{
  flex-grow: 1;
  
}

nav {
  font-family: papyrus;
  margin: 0;
  padding: 0;
}

.nav {
  
  background: #49F477;
  overflow: hidden;
  width: 900px;  
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.nav li {
  width: 150px; border-left: 5px solid #666;
  float: left;
  cursor: pointer;
  list-style-type: none;
  
  padding: 10px 50px 10px 15px;
  
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.nav li h4 {
  
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 16px;
}


.nav li:hover {
  background: #333;
  border-left: 5px solid #000;
}

.nav li:hover h4 {
  font-weight: bold;
  color: #fff;
}



main{
  padding: 0 10px;
  flex: 1 0 auto;
}

footer{
  display: flex;
  justify-content: center;
}
a{
  font-size: 20px;
}